@import "../../../mixin.scss";

* {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 8vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: $darkBlue;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 86%;
        max-width: 2400px;
        height: 100%;

        #name {
            font-size: 6vw;
            color: white;
            font-weight: bold;
            transform: translate(35vw, 48vh);
            opacity: 0;
            animation: name-into-header 0.5s ease forwards 8s;

            #e-letter {
                animation: color-letter 0.5s ease forwards 8s;
            }
        }
    }
}

#header-links {
    display: flex;
    gap: 2rem;

    a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        opacity: 0;
        animation: fade-in 0.5s ease forwards 8s;

        &:hover {
            color: $purple
        }
    }
}

@keyframes name-into-header {
    to {
        transform: translate(0, 0);
        font-size: 2.5rem;
        opacity: 1;
    }

}

@keyframes name-into-heade-mq-variant {
    to {
        transform: translate(0, 0);
        font-size: 5rem;
        opacity: 1;
    }

}

@keyframes color-letter {
    from {
        color: white
    }

    to {
        color: $green;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
    
}



@media screen and (min-width: 600px) {
    $myNameSize: 6vw;

    #my-name {
        font-size: $myNameSize;
    }
}

@media screen and (min-width: 1100px) {
    nav {
        #header-links {
            a {
                font-size: 1.5rem;
            }
        }
    }

}

@media screen and (min-width: 1660px) {
    $myNameSize: 101px;

    #my-name {
        margin-bottom: -32px;
    }

}

@media screen and (min-width: 2400px) {
    header{
        nav{
            #name{
                animation: name-into-heade-mq-variant 0.5s ease forwards 8s;
            }
        }
        #header-links {
            a {
                font-size:  2rem;
            }
        }
    }
}
