@import "../../../mixin.scss";

#start-page-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    max-width: 2400px;
    padding: 0 7%;
    height: 70vh;

    #left-section {
        width: 40%;

        img {
            width: 100%;
            height: auto;
        }

    }

    #right-section {
        font-family: "Poppins", sans-serif;
        height: 100%;
        z-index: 2;
        width: fit-content;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 70px
    }
}

app-button {
    align-self: center;
    font: 400 unset !important;
    position: relative;
}

.button-animation {
    opacity: 0;
    animation: fade-in 0.5s ease forwards 8s;
}



#headline {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

}


#i-am {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    font-size: 3.9vw;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.i-am-fast {
    animation: i-am-animation 0.5s ease forwards .1s;
}

.i-am-animation {
    animation: i-am-animation 0.5s ease forwards 8s;
}

@keyframes i-am-animation {
    100% {
        transform: rotate(-90deg) translate(-3.8rem, -7rem);
    }
}

@keyframes i-am-viewport-variant {
    100% {
        transform: rotate(-90deg) translate(-3.5vw, -7vw);
    }
}

#purple-line {
    height: 3px;
    background-color: $purple;
    transition: all ease 0.2s;

}

.purple-line-animation {
    width: 0%;
    animation: lengthen 0.5s ease forwards 8.5s;
}

.purple-line-fast {
    width: 55%;
}

@keyframes lengthen {
    to {
        width: 55%;
    }

}


#my-name {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    transform: translate(-16.5vw, 14.5vh);
    margin-bottom: calc(1.5vw * -1 - 0.5rem);
}

.my-name-animation {
    animation: name-animation 0.5s ease forwards 8s;
}

.my-name-fast {
    animation: name-animation 0.5s ease forwards .1s;
}

@keyframes name-animation {
    100% {
        transform: translate(0, 0);
    }
}


#my-profession {
    font-size: 3.23vw;
    color: $purple;
    transform: scale(0, 0);
}

.my-profession-animation {
    animation: profession-animation 0.5s ease forwards 8s;
}

.my-profession-fast {
    animation: profession-animation 0.5s ease forwards .1s;
}

@keyframes profession-animation {
    100% {
        transform: scale(1, 1);
    }
}



@keyframes rotate-mq-variant {
    100% {
        transform: rotate(-90deg) translate(-5.2rem, -9rem);
    }
}


app-scroll-down {
    position: absolute;
    right: 0;
    bottom: 3rem;
    transform: translate(20%, 0);
    z-index: 2;
}

.scroller-animation {
    opacity: 0;
    animation: fade-in 2s ease forwards 10s;

}


@keyframes fade-in {
    to {
        opacity: 1;
    }
}


#start-bottom {
    width: 100%;
    max-width: 2400px;
    height: 30vh;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

    #button-container {
        position: absolute;
        left: 0;
        width: 25%;
        bottom: 0.5rem;
        z-index: 2;
        @include dFlex(space-between, center);
        gap: 2rem;


        app-social-buttons {
            @include dFlex(center, center);
            gap: 1rem;
        }
    }
}


@media screen and (max-width:1660px) {
    .i-am-animation {
        animation: i-am-viewport-variant 0.5s ease forwards 8s;
    }

    .i-am-fast {
        animation: i-am-viewport-variant 0.5s ease forwards .1s;
    }
}


@media screen and (max-width: 1000px) {
    app-scroll-down {
        display: none;
    }

    #my-name {
        animation: name-animation 0.5s ease forwards 1s;
        margin-bottom: -1rem;
    }

    #my-profession {
        animation: profession-animation 0.5s ease forwards 1s;
    }

    .i-am-animation {
        animation: i-am-viewport-variant 0.5s ease forwards .1s;
    }

    .i-am-fast {
        animation: i-am-viewport-variant 0.5s ease forwards .1s;
    }

    #start-bottom {
        #button-container {
            width: 50%;

            app-social-buttons {
                transform: translate(50%, 0);
            }
        }
    }
}


@media screen and (max-width: 920px) {
    #start-page-container {
        position: absolute;
        flex-direction: column;
        height: 100%;
        width: 100%;

        #left-section {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #right-section {
            position: absolute;
            bottom: -31%;
            margin-bottom: unset;
        }

    }

}


@media screen and (max-width: 920px) and (max-height:540px) {
    #start-page-container {
        position: relative;
        flex-direction: row;
        width: 86%;
        padding: 0 7%;
        height: 70dvh;

        #left-section {
            width: 40%;

            img {
                width: 100%;
                height: auto;
            }

        }

        #right-section {
            bottom: unset;
            position: relative;
            margin-bottom: unset;
        }
    }
}




@media screen and (max-width: 1024px) and (min-height: 1200px),
screen and (min-width: 820px) and (max-width: 1024px) and (max-height: 1400px) and (min-height: 1100px) {
    #start-page-container {
        position: absolute;
        flex-direction: column;
        height: 100%;
        width: unset;

        #left-section {
            width: unset;

            img {
                width: unset;
                height: 100%;
            }
        }

    }

    app-scroll-down {
        display: none;
    }

    .my-name-animation {
        animation: name-animation 0.5s ease forwards .1s;
    }

    .my-profession-animation {
        animation: profession-animation 0.5s ease forwards .1s;
    }

    .i-am-animation {
        animation: i-am-viewport-variant 0.5s ease forwards .1s;
    }
    .i-am-fast{
        animation: i-am-viewport-variant 0.5s ease forwards .1s;
    }

    #start-bottom {
        bottom: 3rem;

        #button-container {
            width: 50%;

            app-social-buttons {
                transform: translate(50%, 0);
            }
        }
    }
}

@media screen and (min-width: 1700px) and (max-width: 2400px) and (max-height:900px) {
    #right-section {
        position: absolute;
        bottom: -38%;
    }

}


@media screen and (min-width:320px) and (max-width: 920px) and (min-height:900px) {
    #right-section {
        position: absolute;
        bottom: -38%;
    }

    app-button {
        margin-top: unset
    }

}


@media screen and (min-width: 320px) and (max-width: 599px) {
    #start-page-container {

        #right-section {
            position: absolute;
            bottom: -15rem;
            transform: translate(-4%, 0);
            max-width: unset;
            margin-left: 1.5rem;
        }

        app-button {
            margin-top: unset
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 599px) and (max-height:800px) {
    #start-page-container {

        #right-section {
            position: absolute;
            bottom: -10rem;
            max-width: unset;
            margin-left: 1.5rem;
        }

        app-button {
            margin-top: unset
        }
    }
}

@media screen and (max-width: 750px) {

    $iAmSize: 1.7rem;
    $myNameSize: 2.8rem;
    $professionSize: 1.51rem;

    #my-name {
        font-size: $myNameSize !important;
    }

    #my-profession {
        font-size: $professionSize !important;
    }

    #i-am {
        font-size: $iAmSize !important;
        transform: rotate(-90deg) translate(0.1rem, -2.8rem);
        bottom: -10px;
        animation: unset !important;
    }
}


@media screen and (max-width:480px) {
    #start-bottom {
        #button-container {
            width: 100%;
            justify-content: center;

            app-social-buttons {
                transform: translate(0, 0);
            }

            #purple-line {
                display: none;
            }
        }
    }
}


@media screen and (min-width: 1660px) {
    $myNameSize: 101px;
    $professionSize: 54px;
    $iAmSize: 66px;

    #my-name {
        font-size: $myNameSize;
        margin-bottom: -32px;
    }

    #my-profession {
        font-size: 54px;
    }


    #i-am {
        position: absolute;
        font-size: $iAmSize;
        transform: rotate(0deg) translate(-5vw, 0vw);
    }

}

@media screen and (min-width: 2400px) {
    #start-bottom {
        #button-container {
            left: 0
        }
    }

    #headline {
        #my-name {
            font-size: 9rem;
            margin-bottom: -3.4rem;
        }

        #my-profession {
            font-size: 4.84rem;
        }

        #i-am {
            font-size: 5.7rem;

        }
    }

    .i-am-animation {
        animation: rotate-mq-variant 0.5s ease forwards 8s;
    }
    .i-am-fast{
        animation: rotate-mq-variant 0.5s ease forwards .1s;
    }
}