<div id="headline">
    <div>I am</div>
    <div>René Heller</div>
    <div>FRONTEND DEVELOPER</div>
</div>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
<div id="large-profile-img">
    <img src="/src/assets/img/placeholderPF.png" alt="">
</div>
