<div id="start-page-container">
    <div id="left-section">
        <img src="/assets/img/placeholderPF.png" alt="">
    </div>
    <div id="right-section">
        <div id="headline">
            <div id="i-am">I am</div>
            <div id="my-name">René Heller</div>
            <div id="my-profession">FRONTEND DEVELOPER</div>
        </div>
        <app-button (click)="ref()" id="lets-talk">Let´s talk</app-button>
    </div>
</div>
<div id="start-bottom">
    
    <app-scroll-down></app-scroll-down>
    <div id="button-container">
        <div id="purple-line"></div>
        <app-social-buttons ></app-social-buttons>
    </div>
</div>