@import "../../../mixin.scss";

#start-page-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    max-width: 2400px;
    padding: 0 7%;
    height: 70vh;

    #left-section {
        width: 40%;

        img {
            height: 100%;
            width: auto;
        }

    }

    #right-section {
        font-family: "Poppins", sans-serif;
        height: 100%;
        z-index: 2;
        width: fit-content;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-bottom:70px
    }
}

app-button {
    align-self: center;
    font: 400 unset !important;
    position: relative;
    opacity: 0;
    animation: fade-in 0.5s ease forwards 8s;
}



#headline {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

    #my-name {
        font-size: 6vw;
        font-weight: bold;
        color: white;
        transform: translate(-16.5vw, 14.5vh);
        margin-bottom: calc(1.5vw * -1 - 0.5rem);
        animation: name-animation 0.5s ease forwards 8s;

    }


    #my-profession {
        font-size: 3.23vw;
        color: $purple;
        transform: scale(0, 0);
        animation: profession-animation 0.5s ease forwards 8s;
    }


    #i-am {
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        font-size: 3.9vw;
        margin: auto;
        width: fit-content;
        height: fit-content;
        animation: i-am-animation 0.5s ease forwards 8s;
    }
}



#start-bottom {
    width: 100%;
    max-width: 2400px;
    height: 30vh;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

    app-scroll-down {
        position: absolute;
        right: 0;
        bottom: 3rem;
        z-index: 2;
        opacity: 0;
        animation: fade-in 2s ease forwards 10s;
    }

    #button-container {
        position: absolute;
        left: 7%;
        width: 20%;
        bottom: 1rem;
        z-index: 2;
        @include dFlex(space-between, center);
        gap: 2rem;

        #purple-line {
            width: 0%;
            height: 3px;
            background-color: $purple;
            transition: all ease 0.2s;
            animation: lengthen 0.5s ease forwards 8s;

        }

        app-social-buttons {
            @include dFlex(center, center);
            gap: 1rem;
        }
    }
}

@keyframes lengthen {
    to {
        width: 50%;
    }

}

@keyframes name-animation {


    100% {
        transform: translate(0, 0);
    }
}

@keyframes i-am-animation {


    100% {
        transform: rotate(-90deg) translate(0, -7vw);
    }
}

@keyframes rotate-mq-variant{
    100%{
        transform: rotate(-90deg)translate(-4px, -10rem);
    }
}

@keyframes profession-animation {

    100% {
        transform: scale(1, 1);
    }

}

@keyframes fade-in {
    to {

        opacity: 1;

    }
}

@media screen and (min-width: 600px) {
    $iAmSize: 3.8vw;
    $myNameSize: 6vw;
    $professionSize: 3.23vw;

    #my-name {
        font-size: $myNameSize;
    }

    #my-profession {
        font-size: $professionSize;
    }

    #i-am {
        font-size: $iAmSize;
        transform: rotate(0deg) translate(-5vw, 0vw);
        bottom: -17px;
    }
}

@media screen and (min-width: 1660px) {
    $myNameSize: 101px;
    $professionSize: 54px;
    $iAmSize: 66px;

    #my-name {
        font-size: $myNameSize;
        margin-bottom: -32px;
    }

    #my-profession {
        font-size: 54px;
    }


    #i-am {
        position: absolute;
        transform: rotate(0deg) translate(-5vw, 0vw);
        font-size: $iAmSize;
    }
}

@media screen and (min-width: 2400px) {
    #start-bottom {
        #button-container {
            left: 0
        }
    }

    #headline {

    
        #my-name {
            font-size: 9rem;

    
        }
    
    
        #my-profession {
            font-size: 4.84rem;
        }
    
    
        #i-am {
            font-size: 5.7rem;
            animation: rotate-mq-variant 0.5s ease forwards 8s;;
        }
    }
    
}