app-about-me-text{
    position: relative;
    width: 100%;
    padding: 0 7%;
    max-width: 2400px;
    margin: 0 auto;
    height: calc(90vh - 6rem);
    top: -1px;
    background-color: transparent;
}