@import "../../../styles.scss";

app-about-me-text {
    width: 100%;
    padding: 0 7%;
    max-width: 2400px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 5rem;
    background-color: transparent;
}

#skill-scrolltrigger {
    position: absolute;
    bottom: 8vh
}

@media screen and (max-width: 900px) {
    app-about-me-picture {
        display: none;
    }

    app-about-me-text{
        display: flex;
        flex-direction: column;
        gap:3rem;
        margin-bottom: 4rem;
    }

}