<h1>About me</h1>
<div>
    <p><i>"[...]Every solution for every problem is allready existing. We just have to find it.[...]"</i></p>
    <p>Hi! I´m René Heller, a Frontend Developer and the quote above is literally my mindset. When I was young, every manual
        for electric devices, my parents read, had just one line: "Ask your son!".</p>
    <p>Now I´m 34 years old, based near Berlin, Germany, and learned a profession which matches my passion.</p>
    <p>I´m looking forward to help you to create the design as well as the logic you desire for your website!</p>
</div>
