@import "../../../mixin.scss";

h1 {
    margin-block: 0;
    transform: translate(0, 4vh);
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Poppins';
}

#introduction {
    @include dFlex(center, center);
    flex-direction: column;
    // position: absolute;
//     top: 1rem;
    // bottom: 0;
    // margin: auto;
    gap: 2rem;
    // left: 7%;
    width: 40%;
    height: 100%;

    #introduction-text {
        p {
            font-weight: 500;
            color: white
        }
    }

    #additional-info {
        position: relative;
        color: white;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        left: 7%;

    }
}

;

#light-box,
#puzzle-box {
    @include dFlex(center, flex-start);
    flex-direction: row;
    gap: 2rem;
    align-items: center;


    #light-svg {
        stroke: $gray;
        width: 13rem;
        animation: light-animation 0.5s ease forwards 1s;

    }

    #puzzle-svg {
        fill: $gray;
        width: 11rem;
        animation: puzzle-animation 0.5s ease forwards 1s;
    }


}

@keyframes puzzle-animation {
    to {
        fill: $green
    }
}

@keyframes light-animation {
    to {
        stroke: $green
    }

}

@media screen and (max-width: 900px) {
    #introduction {
        width: 75%;
        margin: auto;
    }
    #light-box {
        width: calc(100% - 7%);
        #light-svg {
            width: 19rem;
        }
    }
    #puzzle-box {
        width: calc(100% - 7%);
        #puzzle-svg {
            width: 16rem;
        }
    }
}

@media screen and (max-width: 550px) {
    #introduction {
        width: 90%;

        #additional-info {
            left: unset;
            width: 100%
        }
    }

    h1 {
        transform: translate(0, 2vh);
    }

    #light-box,
    #puzzle-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }
}


@media screen and (min-width:2400px) {
    h1 {
        font-size: 9rem;
    }

    #introduction {
        @include dFlex(center, center);
        flex-direction: column;
        // position: absolute;
        // top: 15%;
        // bottom: 20%;
        // height: 100%;
        gap: .5rem;
        left: 7%;
        width: 700px;

        #introduction-text {
            p {
                font-weight: 500;
                font-size: 1.5rem;
                color: white
            }
        }

        #additional-info {
            font-size: 1.5rem;
            position: relative;
            color: white;
            display: flex;
            gap: 2rem;
            flex-direction: column;
            left: 10%;

        }
    }

    ;
}