#social-buttons {
    visibility: hidden;
    overflow: visible;
    display: flex;
    justify-content: space-around;
    width: fit-content;
    height:3rem;
    align-items: center;
    gap: 2rem;
    
    .social-btn {
        height: 30px;
        width: 30px;
        
        &:hover {
            cursor: pointer;
            transition: all ease 0.2s;
            transform: scale(1.3)!important;
        }
    }
}