@import "../../mixin.scss";

#footer-flex-container {
    @include dFlex(space-between, center);
    position: relative;
    width: 86%;
    height: 100%;
    padding: 0 7%;
    background-color: #141D2F;
    font-family: 'Poppins', sans-serif;
    border-top: 4px solid $green;

    #footer-name-box {
        display: flex;
        flex-direction: column;

        #footer-name {
            font-size: 4vw;
            margin-block: 0;
            margin-bottom: -1rem;
        }

        #imprint{
            margin-left: .125rem;
        }
    }
}

@media screen and (max-width:720px) {
    #footer-flex-container{
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;

        #footer-name-box{
            #imprint{
                position: absolute;
                bottom: -10%;
                left: 0;
                right: 0;
                margin: auto;
                width: fit-content;
            }
        }
    }
}