@import "../../mixin.scss";

#footer-flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86vw;
    padding: 0 7%;
    height: 100%;
    background-color: $darkBlue;
    border-top: 4px solid $green;
}
#footer {
    @include dFlex(space-between, center);
    position: relative;
    width: 100%;
    max-width: calc(2400px - 2400px / 100 * 14);
    height: 100%;
    background-color: #141D2F;
    font-family: 'Poppins', sans-serif;

    #footer-name-box {
        display: flex;
        flex-direction: column;

        #footer-name {
            font-size: 4vw;
            margin-block: 0;
            margin-bottom: -1rem;
        }

        #imprint{
            margin-left: .125rem;
        }
    }
}

@media screen and (max-width:720px) {
    #footer{
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;

        #footer-name-box{
            #imprint{
                position: absolute;
                bottom: -10%;
                left: 0;
                right: 0;
                margin: auto;
                width: fit-content;
            }
        }
    }
}