<div id="left-contact-section">
  <h1>{{"left-contact-section.title"|translate}}</h1>
  <h4>{{"left-contact-section.subtitle"|translate}}</h4>
  <div>{{"left-contact-section.description"|translate}}</div>
</div>

<div id="right-contact-section">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
    <mat-form-field appearance="outline" [color]="contactForm.get('name')?.valid && contactForm.get('name')?.dirty ? 'accent' : 'primary'">
      <mat-label>{{"right-contact-section.name-label"|translate}}</mat-label>
      <input class="input-field" id="name-input" matInput formControlName="name" name="name" required>
      @if(this.contactForm.get('name')?.invalid && this.contactForm.get('name')?.touched) {
      <mat-error>{{"right-contact-section.name-error"|translate}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" [color]="contactForm.get('email')?.valid && contactForm.get('email')?.dirty ? 'accent' : 'primary'">
      <mat-label>{{"right-contact-section.email-label"|translate}}</mat-label>
      <input class="input-field" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,})$" id="email-input"
        matInput formControlName="email" name="email" required>
        @if(this.contactForm.get('email')?.invalid && this.contactForm.get('name')?.touched) {
          <mat-error>{{"right-contact-section.email-error"|translate}}</mat-error>
          }
    </mat-form-field>

    <mat-form-field appearance="outline" [color]="contactForm.get('message')?.valid && contactForm.get('message')?.dirty ? 'accent' : 'primary'">
      <mat-label>{{"right-contact-section.message-label"|translate}}</mat-label>
      <textarea class="input-field" cdkTextareaAutosize cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20" minlength="10" matInput
        formControlName="message" name="message" required></textarea>
        @if(this.contactForm.get('message')?.invalid && this.contactForm.get('name')?.touched) {
          <mat-error>{{"right-contact-section.message-error"|translate}}</mat-error>
          }
    </mat-form-field>
    <mat-checkbox formControlName="agreedToPrivacyTerms" disableRipple name="checkbox" id="check-box">
      <div id="checkbox-text">{{"right-contact-section.checkbox-text-start"|translate}}<a routerLink="/privacy"
          id="privacy">{{"right-contact-section.checkbox-text-link"|translate}}</a>{{"right-contact-section.checkbox-text-end"|translate}}
      </div>
    </mat-checkbox>

    <button id="send" mat-raised-button color="primary" type="submit"
      [disabled]="!contactForm.valid">{{"right-contact-section.send-button"|translate}}</button>
  </form>
  <div routerLink="/home" (click)="scrollToTop()" id="arrow-up">
    <svg id="arrow-up-svg" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="#70E61C" stroke-width="2"/>
      <path d="M18 15.828L13.343 20.485C12.9525 20.8755 12.3194 20.8755 11.929 20.485C11.5385 20.0945 11.5385 19.4615 11.929 19.071L18.2928 12.7071C18.6834 12.3166 19.3165 12.3166 19.7071 12.7071L26.071 19.071C26.4614 19.4615 26.4614 20.0945 26.071 20.485C25.6805 20.8755 25.0474 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5522 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z" fill="#70E61C"/>
      </svg>
      
  </div>
</div>

