<div class="project-container">
    <img [src]="imgSrc" alt="">
    <div class="project-text">
        <div class="project-title">
            <h1>{{title}}</h1>
        </div>
        <div class="skills">
            <p>{{skills}}</p>
        </div>
        <div class="project-description">
            <p>{{description}}</p>
        </div>
        <div class="buttons">
            <a mat-button mat-raised-button color="primary" [href]="html">Live test</a>
            <a class="stroked" mat-button mat-stroked-button color="accent" [href]="git">Github</a>
        </div>
    </div>
</div>