<div class="priv-container">
    <div id="privacy-policy-route">
        <h1>{{"privacy-policy.title"|translate}}</h1>
        <p>{{"privacy-policy.controller"|translate}}</p>
        <p>{{"privacy-policy.controller-name"|translate}}</p>
        <h2>{{"rights-as-data-subject.title"|translate}}</h2>
        <p>{{"rights-as-data-subject.explain"|translate}}</p>
        <ul>
        <li>{{"rights-as-data-subject.one"|translate}}</li>
        <li>{{"rights-as-data-subject.two"|translate}}</li>
        <li>{{"rights-as-data-subject.three"|translate}}</li>
        <li>{{"rights-as-data-subject.four"|translate}}</li>
        <li>{{"rights-as-data-subject.five"|translate}}</li>
        <li>{{"rights-as-data-subject.six"|translate}}</li>
        </ul>
        <p>{{"rights-as-data-subject.consent-revocation"|translate}}</p>
        <p>{{"rights-as-data-subject.complaint"|translate}}</p>
        <p>{{"rights-as-data-subject.supervisory-authority-list"|translate}}<a href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank" rel="noopener nofollow">www.bfdi.bund.de</a>.</p>
        <p></p><h2>{{"contact-form.title"|translate}}</h2>
        <h3>{{"contact-form.subtitle.nature-and-purpose-of-processing"|translate}}</h3>
        <p>{{"contact-form.nature-and-purpose-of-processing"|translate}}</p>
        <h3>{{"contact-form.subtitle.legal-basis"|translate}}</h3>
        <p>{{"contact-form.legal-basis.one"|translate}}</p>
        <p>{{"contact-form.legal-basis.two"|translate}}</p>
        <p>{{"contact-form.legal-basis.three"|translate}}</p>
        <h3>{{"contact-form.subtitle.recipient"|translate}}</h3>
        <p>{{"contact-form.recipient"|translate}}</p>
        <p></p><h3>{{"contact-form.subtitle.storage-duration"|translate}}</h3>
        <p>{{"contact-form.storage-duration.one"|translate}}</p>
        <p>{{"contact-form.storage-duration.two"|translate}}</p>
        <h3>{{"contact-form.subtitle.provision-mandatory-or-required"|translate}}</h3>
        <p>{{"contact-form.provision-mandatory-or-required"|translate}}</p>
        <p></p><h2>{{"ssl-title"|translate}}</h2>
        <p>{{"ssl-encryption"|translate}}</p>
        <p></p><hr>
        <h2>{{"right-to-object.title"|translate}}</h2>
        <h3>{{"right-to-object.subtitle.one"|translate}}</h3>
        <p>{{"right-to-object.individual-right-to-object"|translate}}</p>
        <p>{{"right-to-object.objection-case"|translate}}</p>
        <h3>{{"right-to-object.subtitle.two"|translate}}</h3>
        <p>{{"right-to-object.objection-recipient"|translate}}</p>
        <hr>
        <h2>{{"changes-title"|translate}}</h2>
        <p>{{"changes-to-privacy-policy"|translate}}</p>
        <h2>{{"questions"|translate}}</h2>
        <p>{{"questions-to-data-protection-officer"|translate}}</p>
        <p></p><p><em>{{"provided-by"|translate}}<a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">{{"provided-link"|translate}}</a>{{"provided-end"|translate}}</em></p>
    </div>
</div>