<app-header></app-header>
<app-selfie></app-selfie>
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0.99 2 1227.01 375">
    <defs>
        <linearGradient id="gradient" x1="0%" y1="100%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color: #202C42"></stop>
            <stop offset="100%" style="stop-color: #141D2F"></stop>
        </linearGradient>
    </defs>
    <path d="M0.999334 225C-1.40067 413.4 915 277.5 1228 2V377H0.999773L0.999334 225Z" fill="url(#gradient)"></path>
</svg>
<div id="button-container">
    <div id="purple-line"></div>
    <app-social-buttons></app-social-buttons>
</div>