@import "../../mixin.scss";

app-selfie{
    position: relative;
    display: flex;
    height: 92vh;
    width:100%;
    justify-content: center;
    background-color: $darkBlue;
}

app-social-buttons{
    position: absolute;
    z-index: 2;
    bottom:1rem;
    left:5rem;
    
}

svg{
    position: absolute;
    bottom:0;
    z-index: 1;
}

