@import "../../mixin.scss";

app-selfie {
    position: absolute;
    display: flex;
    bottom: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: $darkBlue;
}


svg {
    position: absolute;
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -5px;
    z-index: 1;
    filter: drop-shadow(0px -20px 8px rgba(0, 0, 0, 0.2));
}

#responsive-overlay {
    background: linear-gradient(to right, #141D2F, #202C42, #141D2F);
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translate(0, 6px);
    height: 18%;
    display: none;
}

@media screen and (min-height: 1900px) {
    #start-page-container {
        #right-section {
            top:40%;
        }

    }

}


@media screen and (min-width: 1024px) {
    #responsive-overlay {
        display: none;
    }

}


@media screen and (max-width: 1280px) and (min-width:1180px) and (max-height: 800px) {

    svg {
        bottom: -3px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1024px) and (max-height: 1400px) and (min-height: 1100px) {
    #responsive-overlay {
        height: 33%;
        display: block;
    }

    svg {
        height: 90%;
        bottom: 0;
        z-index: 1;
    }
}



@media screen and (max-width: 1024px) and (min-height: 1200px) {
    #responsive-overlay {
        height: 28%;
        display: block;
    }

    svg {
        height: 75%;
        bottom: 0;
        z-index: 1;
    }
}

@media screen and (min-width:640px) and (max-width: 920px) {
    #responsive-overlay {
        height: 29%;
        display: block;
    }

    svg {
        height: 75%;
        bottom: 0;
        z-index: 1;
    }
}

@media screen and (min-width:640px) and (max-width: 940px) and (max-height:540px) {
    #responsive-overlay {
        height: 24%;
        transform: translate(0px, 20px);
        display: block;
    }

    svg {
        height: 75%;
        bottom: -10px;
        z-index: 1;
    }
}


@media screen and (min-width:640px) and (max-width: 940px) and (max-height:510px) {
    #responsive-overlay {
        display: none;
    }

    svg {
        height: 75%;
        bottom: -10px;
        z-index: 1;
    }
}


@media screen and (min-width:640px) and (max-width: 940px) and (max-height:390px) {
    #responsive-overlay {
        display: block;
        height: 8%;
        transform: translate(0, 10px);
    }

}


@media screen and (min-width:640px) and (max-width: 920px) and (min-height:900px) {
    #responsive-overlay {
        height: 30%;
        display: block;
        transform: translate(0px, 10px);
    }

    svg {
        height: 75%;
        bottom: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 640px) {
    #responsive-overlay {
        height: 30%;
        display: block;
    }

    svg {
        height: 75%;
        bottom: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 599px) {
    #responsive-overlay {
        height: 33%;
        display: block;
    }

    svg {
        height: 77%;
        bottom: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 460px) {
    #responsive-overlay {
        height: 33%;
        display: block;
    }

    svg {
        height: 73%;
        bottom: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 460px) and (max-height:800px) {
    #responsive-overlay {
        height: 33%;
        display: block;
    }

    svg {
        height: 80%;
        bottom: 0;
        z-index: 1;
    }
}