<app-header [imprint]="'secondary-header'" (dialogEvent)="handleOverlay($event)"></app-header>
<app-menu-system [class]="overlayStatus" [secondary]="'secondary'"></app-menu-system>
<div class="imprint-container">
    <div id="imprint-route">
        <h1>{{"imprint.title"|translate}}</h1>
        <h2>{{"imprint.section1_title"|translate}}</h2>
        <div class="imprint">

            <p>{{"imprint.section1_content"|translate}}</p>
            <p>{{"imprint-content.name"|translate}}</p>

        </div>
        <h3>{{"imprint.address_title"|translate}}</h3>

         <div class="imprint">
                <p>{{"imprint-content.address_street"|translate}}</p>
                <p>{{"imprint-content.address_zip"|translate}}</p>
    
         </div>
        <h3>{{"imprint.contact_title"|translate}}</h3>
        <div class="imprint-contact">
            <p>{{"imprint.contact_tel"|translate}}</p>
            <a href="tel:+491792952151">01792952151</a>
        </div>
        <div class="imprint-contact">
            <p>{{"imprint-content.contact_us"|translate}}</p>
            <a href="mailto:terra7778@googlemail.com">{{"imprint-content.contact_mail"|translate}}</a>
        </div>
        <p></p>
        <h2>{{"imprint-user-information.title"|translate}}</h2>
        <p>{{"imprint-user-information.content1"|translate}}</p>
        <p><b>{{"imprint-user-information.content2"|translate}}</b></p>
        <p></p>
        <p><em>{{"imprint-user-information.imprint"|translate}}
                <a
                    href="https://www.activemind.de/datenschutz/generatoren/impressum/">{{"imprint-user-information.imprint-link"|translate}}</a>
                {{"imprint-user-information.imprint-end"|translate}}</em></p>
    </div>
</div>
<app-footer [imprint]="true"></app-footer>