@mixin dFlex ($jc:center, $al:center) {
    display: flex;
    justify-content: $jc;
    align-items: $al;
}

@mixin poppins(){
    font-family: 'Poppins', sans-serif;
}

$purple : #862bd6;
$darkBlue: #141D2F;
$lightBlue: #1CDAE6;
$gray:#414856;
$green:#70E61C;
