@mixin dFlex ($jc:center, $al:center) {
    display: flex;
    justify-content: $jc;
    align-items: $al;
}

$purple : #9747FF;
$darkBlue: #141D2F;
$lightBlue: #1CDAE6;
$gray:#414856;
$green:#70E61C;