<div id="pf-title-box">
    <div id="purple-line-box">
        <h1>Portfolio</h1>
        <div id="purple-line"></div>
    </div>
    <div>
        Let me show you my most recent projects - feel free to try them out.
    </div>

</div>

<app-project-example [imgSrc]="'/assets/img/join.png'" 
[title]="'Join'"
[description]="'A Kanban-like taskmanager to create and manage your tasks. You may add users and assign tasks to them and organize the tasks, using drag and drop functionalities.'"
[skills]="'HTML | CSS | JavaScript | Bootstrap | Git'"
[git]="'https://github.com/DustinRs/Join'"
[html]="'https://rene-heller.developerakademie.net/join/index.html'"></app-project-example>
<app-project-example [imgSrc]="'/assets/img/pollo.png'"></app-project-example>