<div data-aos="fade-left" id="pf-title-box">
    <div id="purple-line-box">
        <h1>Portfolio</h1>
        <div id="purple-line"></div>
    </div>
    <p data-aos="fade-right">
        {{"purple-line-box.subtitle"|translate}}
    </p>

</div>

<app-project-example [imgSrc]="'/assets/img/join.png'" [title]="'Join'" [direction]="'row'"
    [description]="'project-examples.join-description'|translate"
    [skills]="'HTML | CSS | JavaScript | Bootstrap | Git'" [git]="'https://github.com/DustinRs/Join'"
    [html]="'https://rene-heller.developerakademie.net/join/index.html'"></app-project-example>
<app-project-example [imgSrc]="'/assets/img/pollo.png'"
    [title]="'El Pollo Loco'"
    [direction]="'row-reverse'"
    [description]="'project-examples.game-description'|translate"
    [skills]="'HTML | CSS | JavaScript | Git'"
    [git]="'https://github.com/L0ki7778/El-Pollo-Locco'"
    [html]="'https://rene-heller.developerakademie.net/El-Pollo-Loco/index.html'">
</app-project-example>

<div id="contact-scrolltrigger"></div>