@if(firstTime){<app-intro></app-intro>}
<app-header (dialogEvent)="handleOverlay($event)"></app-header>
<app-menu-system [class]="overlayStatus"></app-menu-system>
@if(firstTime){
    <app-main-page-start class="start-animation"></app-main-page-start>
}@else {
    <app-main-page-start></app-main-page-start>
}
<app-about-me id="app-about"></app-about-me>
<app-my-skills id="app-skill"></app-my-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-contact id="contact"></app-contact>
@if(firstTime){<app-footer class="footer-fade-in"></app-footer>}
@else {<app-footer></app-footer>}
