@import "../../mixin.scss";

#menu-system{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #414856;
    gap:1rem;
    #language-change{
        position: absolute;
        @include dFlex(center, center);
        @include poppins();
        top: 3rem;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        width: 4rem;
        height: 4rem;
        font-size: 2.5rem;
        font-weight: 700;
        background-color: $green;
        filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.5));
        border-radius: 50%;
        padding: 1rem;
    }
    a{

        font-family: 'Poppins',sans-serif;
        font-size: 2rem;
        font-weight: bold;
        color:white;
        text-decoration: none;
        &:hover{
            color:$purple;
            cursor: pointer;
        }
    }
}

@media screen and (min-width:640px) and (max-width: 920px) and (max-height:510px) {
    #menu-system{
     #language-change{
      left:unset;
      right:1rem;
      top:30%;
     }
    }
}

