<div id="menu-system">
    <a  href="#social-buttons" (click)="handleOverlay()">{{"menu-system.about-me"|translate}}</a>
    <a  href="#skill-scrolltrigger" (click)="handleOverlay()">{{"menu-system.skills"|translate}}</a>
    <a  href="#pf-scrolltrigger" (click)="handleOverlay()">Porfolio</a>
    <a  href="#contact-scrolltrigger" (click)="handleOverlay()">{{"menu-system.contact"|translate}}</a>
    <div id="language-change" (click)="changeLanguage()">{{"header.currentLanguage"|translate}}</div>
</div>

