<div id="menu-system">
    <a  href="/home/#social-buttons" [class]="secondary" (click)="handleOverlay()">{{"menu-system.about-me"|translate}}</a>
    <a  href="#skill-scrolltrigger" [class]="secondary" (click)="handleOverlay()">{{"menu-system.skills"|translate}}</a>
    <a  routerLink="/home" (click)="handleOverlay(); scrollToFragment('#pf-scrolltrigger')">Porfolio</a>
    <a  href="#contact-scrolltrigger" [class]="secondary" (click)="handleOverlay()">{{"menu-system.contact"|translate}}</a>
    <div id="language-change" (click)="changeLanguage()">{{"header.currentLanguage"|translate}}</div>
</div>

