<div #menuSystem id="menu-system">
    <a  routerLink="/home" [class]="secondary" (click)="handleOverlay();scrollToFragment('#social-buttons')">{{"menu-system.about-me"|translate}}</a>
    <a  routerLink="/home" [class]="secondary" (click)="handleOverlay();scrollToFragment('#skill-scrolltrigger')">{{"menu-system.skills"|translate}}</a>
    <a  routerLink="/home" (click)="handleOverlay(); scrollToFragment('#pf-scrolltrigger')">Porfolio</a>
    <a  routerLink="/home" [class]="secondary" (click)="handleOverlay();scrollToFragment('#contact-scrolltrigger')">{{"menu-system.contact"|translate}}</a>
    <div id="language-change" (click)="changeLanguage()">{{"header.currentLanguage"|translate}}</div>
</div>

