<div class="imprint-container">
    <div id="imprint-route">
        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG:</h2>
        <p><br>Frontend-Entwickler<br>René Heller</p>
        <h3>Postanschrift:</h3>
        <p>Am Kolonieweg 11<br>Havelsee OT Tieckkw<br></p>
        <h3>Kontakt:</h3>
        <a href="tel:+491792952151">Telefon: 01792952151</a>
        <a href="mailto:terra7778@googlemail.com">Kontaktieren Sie uns per E-Mail</a>
        <p></p>
        <h2>Information gemäß § 36 VSBG</h2>
        <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
            Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
        <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
            teilzunehmen.</p>
        <p></p>
        <p><em>Das Impressum wurde mit dem <a
                    href="https://www.activemind.de/datenschutz/generatoren/impressum/">Impressums-Generator der activeMind
                    AG</a> erstellt.</em></p>
    </div>
</div>